@model RoleViewModel

@{
    ViewData["Title"] = Localizer["Header"];
}

<div class="text-center">
    <h2>@Localizer["ChangingRole"] @Model.UserEmail</h2>
</div>

<form asp-action="EditUsersRoles" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />

    <div class="d-block my-3">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="submit">@Localizer["Save"]</button>
</form>
