@model IEnumerable<SecurityDoors.DataAccessLayer.Models.User>

@{
    ViewData["Title"] = "Список активных пользователей - Security Doors";
}

<div class="text-center">
    <h1>Список активных пользователей</h1>
</div>

<br />

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Электронная почта</th>
                <th scope="col">Псевдоним</th>
                <th scope="col">Доступные действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td>@item.Nickname</td>
                    <td>
                        @if (User.Identity.Name != item.Email)
                        {
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                <button class="btn btn-outline-danger" type="submit" onclick="return confirm('@Localizer["ConfirmationMessage"]') ? catimg('del','30') : false;">Удалить</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
