@model RegistrationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Localizer["Title"]</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="~/css/signin.css" rel="stylesheet">

    <script>
        function emailValidation() {
            var re = /^[\w-\.]+@@[\w-]+\.[a-z]{2,4}$/i;
            var myEmail = document.getElementById('email').value;
            var valid = re.test(myEmail);

            if (valid)
            {
                document.getElementById('submit').disabled = false;
                output = '';
            }
            else
            {
                document.getElementById('submit').setAttribute('disabled', 'disabled');
                output = '@Localizer["ValidationMessage"]';
            }

            document.getElementById('message').innerHTML = output;

            return valid;
        }
    </script>
</head>
<body class="text-center">
    <form class="form-signin" method="post" asp-controller="Account" asp-action="Registration">
        <div asp-validation-summary="ModelOnly"></div>

        <h1 class="h3 mb-3 font-weight-normal">@Localizer["Registration"]</h1>

        <div class="form-group" onblur="emailValidation()">
            <input id="email" type="email" class="form-control" placeholder="@Localizer["E-mail"]" asp-for="Email" oninput="emailValidation()" onblur="emailValidation()">
            <span asp-validation-for="Email"></span>
            <small id="emailHelp" class="form-text text-muted">@Localizer["E-mailHelp"]</small>
            <small id="message" class="form-text text-muted"></small>
        </div>


        <div class="form-group">
            <input type="text" class="form-control" placeholder="@Localizer["NikName"]" required asp-for="Nickname" />
            <span asp-validation-for="Nickname"></span>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="@Localizer["Password"]" required asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="@Localizer["PasswordConfirm"]" required asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit" disabled>@Localizer["SignUp"]</button>
        <p class="mt-5 mb-3 text-muted">30 commits to bug &copy; 2019</p>

    </form>
</body>
</html>
