@model IEnumerable<SecurityDoors.DataAccessLayer.Models.User>

@{
    ViewData["Title"] = Localizer["Header"];
}

<div class="text-center">
    <h1>@Localizer["DiffUserRights"]</h1>
</div>

<br />

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Localizer["Symbol"]</th>
                <th scope="col">@Localizer["E-mail"]</th>
                <th scope="col">@Localizer["AvailableActions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td><a asp-action="EditUsersRoles" asp-route-userid="@item.Id">@Localizer["AccessRights"]</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
