@model DoorViewModel

@{
    ViewData["Title"] = "Информация о двери - Security Doors";
}

<div class="text-center">
    <h2>Информация о двери №@Model.Id</h2>
</div>

<br />

<li class="list-group-item">Название: <b>@Model.Name</b></li>
<li class="list-group-item">Описание: <b>@Model.Description</b></li>
<li class="list-group-item">Уровень: <b>@Model.Level</b></li>
<li class="list-group-item">Статус: <b>@Model.Status</b></li>
<li class="list-group-item">Комментарий: <b>@Model.Comment</b></li>
