@model DoorEditModel

@{
    ViewData["Title"] = @Localizer["Header"];
}

<div class="text-center">
    <h2>@Localizer["EditDoor"] @Model.Id</h2>
</div>

<br />

<form method="post" asp-controller="Door" asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <b><label asp-for="Name">@Localizer["Name"]</label></b>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group col-md-6">
            <b><label asp-for="Description">@Localizer["Description"]</label></b>
            <input type="text" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <b><label asp-for="Status">@Localizer["Status"]</label></b>
            <select asp-for="Status" class="form-control">
                <option>@DoorConstants.IsActive</option>
                <option>@DoorConstants.IsClosed</option>
                <option>@DoorConstants.OnRepair</option>
            </select>
        </div>
        <div class="form-group col-md-8">
            <b><label asp-for="Comment">@Localizer["Comment"]</label></b>
            <input type="text" asp-for="Comment" class="form-control" />
            <span asp-validation-for="Comment"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-warning">@Localizer["Apply"]</button>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Door">@Localizer["Cancel"]</a>
</form>