@model IEnumerable<DoorViewModel>

<h1>Список дверей</h1>
<div>
    <a asp-action="Create" asp-controller="Door">Добавить новую дверь</a>
</div>

<br />

<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Комментарий</th>
                <th>Доступные действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Comment</td>
                    <td>
                        <a asp-action="Details" asp-controller="Door" asp-route-id="@item.Id">Подробнее</a> |
                        <a asp-action="Edit" asp-controller="Door" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Delete" asp-controller="Door" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>