@model PersonViewModel

@{
    ViewData["Title"] = "Информация о сотруднике - Security Doors";
}

<div class="text-center">
    <h2>Информация о сотруднике №@Model.Id</h2>
</div>

<br />

<li class="list-group-item">Имя: <b>@Model.FirstName</b></li>
<li class="list-group-item">Фамилия: <b>@Model.LastName</b></li>
<li class="list-group-item">Отчество: <b>@Model.SecondName</b></li>
<li class="list-group-item">Пол: <b>@Model.Gender</b></li>
<li class="list-group-item">Паспорт: <b>@Model.Passport</b></li>
<li class="list-group-item">Уникальный номер карты: <b>@Model.Card</b></li>
<li class="list-group-item">Коментарий: <b>@Model.Comment</b></li>
