@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model PersonViewModel

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="text-center">
    <h2>@Localizer["Header"]@Model.Id</h2>
</div>

<br />

<li class="list-group-item">@Localizer["FirstName"] <b>@Model.FirstName</b></li>
<li class="list-group-item">@Localizer["LastNam"] <b>@Model.LastName</b></li>
<li class="list-group-item">@Localizer["SecondName"] <b>@Model.SecondName</b></li>
<li class="list-group-item">@Localizer["Gender"] <b>@Model.Gender</b></li>
<li class="list-group-item">@Localizer["Passport"] <b>@Model.Passport</b></li>
<li class="list-group-item">@Localizer["UniqueNumber"] <b>@Model.Card</b></li>
<li class="list-group-item">@Localizer["Comment"] <b>@Model.Comment</b></li>
