@model PersonEditModel

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="text-center">
    <h2>@Localizer["Header"] №@Model.Id</h2>
</div>

<br />

<form method="post" asp-controller="Person" asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <b><label asp-for="FirstName"></label></b>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group col-md-4">
            <b><label asp-for="LastName"></label></b>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group col-md-4">
            <b><label asp-for="SecondName"></label></b>
            <input asp-for="SecondName" class="form-control" />
            <span asp-validation-for="SecondName"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <b><label asp-for="Gender"></label></b>
            <select asp-for="Gender" class="form-control">
                <option>@PersonConstants.IsMale</option>
                <option>@PersonConstants.IsFemale</option>
            </select>
            <span asp-validation-for="Gender"></span>
        </div>
        <div class="form-group col-md-6">
            <b><label asp-for="Passport"></label></b>
            <input asp-for="Passport" class="form-control" />
            <span asp-validation-for="Passport"></span>
        </div>
    </div>

    <div class="form-group">
        <b><label asp-for="Comment"></label></b>
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment"></span>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <b><label asp-for="Card"></label></b>
            <input asp-for="Card" class="form-control" />
            <span asp-validation-for="Card"></span>
        </div>
        <div class="form-group col-md-6">
            <b><label asp-for="SelectedNewUniqueNumberCard"></label></b>
            <select asp-for="SelectedNewUniqueNumberCard" asp-items="@(new SelectList(Model.AvailableCards))" class="form-control"></select>
        </div>
    </div>

    <button type="submit" class="btn btn-warning">@Localizer["Edit"]</button>
</form>
