@model PersonIndexViewModel

@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="text-center">
    <h1>@Localizer["Header"]</h1>
</div>

<br />

<div>
    <a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#addNewPerson">@Localizer["AddEmployee"]</a>
</div>

<div class="modal fade" id="addNewPerson">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">@Localizer["CreateEmployee"]</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>

            <div class="modal-body">
                <partial name="_CreatePartialView.cshtml" model="new PersonViewModel() { AvailableCards = Model.AvailableCards };" />
            </div>

        </div>
    </div>
</div>

<br />

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Localizer["Symbol"]</th>
                <th scope="col">@Localizer["LastName"]</th>
                <th scope="col">@Localizer["FirstName"]</th>
                <th scope="col">@Localizer["UniqueNumber"]</th>
                <th scope="col">@Localizer["AvailableActions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.People)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.LastName</td>
                    <td>@item.FirstName</td>
                    <td>@item.Card</td>
                    <td>
                        <a asp-action="Details" asp-controller="Person" asp-route-id="@item.Id">@Localizer["Details"]</a>
                        <a asp-action="Edit" asp-controller="Person" asp-route-id="@item.Id">@Localizer["Edit"]</a>

                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Delete" asp-controller="Person" asp-route-id="@item.Id" onclick="return confirm('@Localizer["ConfirmationMessage"]') ? catimg('del','30') : false;">@Localizer["Delete"]</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-secondary btn-sm">
       @Localizer["Back"]
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-secondary btn-sm">
       @Localizer["Forward"]
    </a>
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
