@model DoorPassingEditModel

@{
    ViewData["Title"] = "Редактировать дверной проход - Security Doors";
}

<div class="text-center">
    <h2>Редактировать дверной проход №@Model.Id</h2>
</div>

<br />

<form method="post" asp-controller="DoorPassing" asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <b><label asp-for="Location"></label></b>
        <select asp-for="Location" class="form-control">
            <option>@DoorPassingConstants.Entrance</option>
            <option>@DoorPassingConstants.Exit</option>
        </select>
    </div>

    <div class="form-group">
        <b><label asp-for="Status"></label></b>
        <select asp-for="Status" class="form-control">
            <option>@DoorPassingConstants.WithoutСontrol</option>
            <option>@DoorPassingConstants.OnControl</option>
            <option>@DoorPassingConstants.IsAnnul</option>
        </select>
    </div>

    <div class="form-group">
        <b><label asp-for="UserAccount"></label></b>
        <input type="text" asp-for="UserAccount" class="form-control" />
        <span asp-validation-for="UserAccount"></span>
    </div>

    <button type="submit" class="btn btn-warning">Изменить</button>
</form>