@model IEnumerable<DoorPassingViewModel>

@{
    ViewData["Title"] = "Список дверных проходов - Security Doors";
}

<div class="text-center">
    <h1>Список дверных проходов</h1>
</div>

<br />

<div class="table-responsive">
    <table class="table">
        @if (User.IsInRole("user") || User.IsInRole("visitor"))
        {
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Время прохода</th>
                    <th scope="col">Название двери</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Проход</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                @if (User.Identity.Name == item.Comment)
                {
                    <tr>
                        <td>@item.PassingTime</td>
                        <td>@item.Door</td>
                        <td>@item.Status</td>
                        <td>@item.Location</td>
                    </tr>
                }
                }
            </tbody>
        }

        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
        {
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Время прохода</th>
                    <th scope="col">Уникальный номер карточки</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Проход</th>

                    @if (User.IsInRole("admin"))
                    {
                        <th scope="col">Название двери</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Доступные действия</th>
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.PassingTime</td>
                    <td>@item.Card</td>
                    <td>@item.Comment</td>
                    <td>@item.Location</td>

                    @if (User.IsInRole("admin"))
                    {
                        <td>@item.Door</td>
                        <td>@item.Status</td>
                        <td><a asp-action="Edit" asp-controller="DoorPassing" asp-route-id="@item.Id">Изменить</a></td>
                    }
                </tr>
                }
            </tbody>
        }
    </table>
</div>
