@model MessageViewModel

@{
    ViewData["Title"] = @Localizer["Title"];
}

<script>
    var timeout = 15;

    window.onload = function RedirectPage() {

        document.getElementById("seconds").innerHTML = timeout;
        timeout--;

        if (timeout <= 0)
        {
            var getLinq = document.getElementById("linq").origin;
            location.replace(getLinq)
        }
        else
        {
            setTimeout(RedirectPage, 1000)
        }
    }
</script>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">@Localizer["Header"]</h1>
    
    <p class="lead">@Model.Message</p>

    <br /> <br />

    <p class="lead">@Localizer["Message1_1"] <a id="seconds">15</a> @Localizer["Message1_2"]</p>
    <p class="lead">@Localizer["Message2_1"] <a asp-action="Index" asp-controller="Home" id="linq">@Localizer["Message2_2"]</a>@Localizer["Symbol"]</p>
</div>
