@model CardViewModel

@{
    ViewData["Title"] = "Создать карточку - Security Doors";
}

<div class="text-center">
    <h2>Создать новую карточку</h2>
</div>

<br />

<form method="post" asp-controller="Card" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <b><label asp-for="Level"></label></b>
        <select asp-for="Level" class="form-control">
            <option>@CardConstants.IsGuest</option>
            <option>@CardConstants.IsIntern</option>
            <option>@CardConstants.IsEmployee</option>
            <option>@CardConstants.IsAdministrator</option>
            <option>@CardConstants.IsManager</option>
        </select>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <b><label asp-for="Location"></label></b>
            <select asp-for="Location" class="form-control">
                <option>@CardConstants.Entrance</option>
                <option>@CardConstants.Exit</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <b><label asp-for="Status"></label></b>
            <select asp-for="Status" class="form-control">
                <option>@CardConstants.IsActive</option>
                <option>@CardConstants.IsClosed</option>
                <option>@CardConstants.IsLost</option>
                <option>@CardConstants.IsSuspended</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <b><label asp-for="Comment"></label></b>
        <input type="text" asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment"></span>
    </div>
     
    <button type="submit" class="btn btn-success">Создать</button>
</form>
