@model CardViewModel

<div>
    <h2>Создать новую карточку</h2>
</div>

<form method="post" asp-controller="Card" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="UniqueNumber">Уникальный номер: </label>
            <input type="text" asp-for="UniqueNumber" />
            <span asp-validation-for="UniqueNumber"></span>
        </div>

        <div>
            <label asp-for="Level">Уровень: </label>
            <select asp-for="Level">
                <option>@CardConstants.IsGuest</option>
                <option>@CardConstants.IsIntern</option>
                <option>@CardConstants.IsEmployee</option>
                <option>@CardConstants.IsAdministrator</option>
                <option>@CardConstants.IsManager</option>
            </select>
        </div>

        <div>
            <label asp-for="Location">Нахождение в данный момент: </label>
            <select asp-for="Location">
                <option>@CardConstants.Entrance</option>
                <option>@CardConstants.Exit</option>
            </select>
        </div>

        <div>
            <label asp-for="Status">Статус: </label>
            <select asp-for="Status">
                <option>@CardConstants.IsActive</option>
                <option>@CardConstants.IsClosed</option>
                <option>@CardConstants.IsLost</option>
                <option>@CardConstants.IsSuspended</option>
            </select>
        </div>

        <div>
            <label asp-for="Comment">Комментарий: </label>
            <input type="text" asp-for="Comment" />
            <span asp-validation-for="Comment"></span>
        </div>

        <br />

        <div>
            <input type="submit" value="Подтвердить" />
            <input type="reset" value="Очистить" />
        </div>
    </div>
</form>
