@model CardViewModel

@{
    ViewData["Title"] = Localizer["Header"];
}

<div class="text-center">
    <h2>@Localizer["Card details"] @Model.Id</h2>
</div>

<br />

<li class="list-group-item">@Localizer["UniqueNumber"] <b>@Model.UniqueNumber</b></li>
<li class="list-group-item">@Localizer["AccessLevel"] <b>@Model.Level</b></li>
<li class="list-group-item">@Localizer["CurrentLocation"] <b>@Model.Location</b></li>
<li class="list-group-item">@Localizer["Status"] <b>@Model.Status</b></li>
<li class="list-group-item">@Localizer["UserAccount"]: <b>@Model.UserAccount</b></li>
