@model CardViewModel

@{
    ViewData["Title"] = "Информация о карточке - Security Doors";
}

<div class="text-center">
    <h2>Информация о карточке №@Model.Id</h2>
</div>

<br />

<li class="list-group-item">Уникальный номер: <b>@Model.UniqueNumber</b></li>
<li class="list-group-item">Уровень доступа: <b>@Model.Level</b></li>
<li class="list-group-item">Нахождение в данный момен: <b>@Model.Location</b></li>
<li class="list-group-item">Статус: <b>@Model.Status</b></li>
<li class="list-group-item">Аккаунт сотрудника: <b>@Model.UserAccount</b></li>
