@model CardEditModel

@{
    ViewData["Title"] = Localizer["Header"];
}

<div class="text-center">
    <h2>@Localizer["EditCard"] @Model.Id</h2>
</div>

<br />

<form method="post" asp-controller="Card" asp-action="Edit" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <b><label asp-for="Status">@Localizer["Status"]</label></b>
        <select asp-for="Status" class="form-control">
            <option>@CardConstants.IsActive</option>
            <option>@CardConstants.IsClosed</option>
            <option>@CardConstants.IsLost</option>
            <option>@CardConstants.IsSuspended</option>
        </select>
    </div>

    <div class="form-group">
        <b><label asp-for="UserAccount">@Localizer["UserAccount"]</label></b>
        <input type="text" asp-for="UserAccount" class="form-control" />
        <span asp-validation-for="UserAccount"></span>
    </div>

    <button type="submit" class="btn btn-warning">@Localizer["Edit"]</button>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Card">@Localizer["Cancel"]</a>
</form>
