@model IEnumerable<SecurityDoors.PresentationLayer.ViewModels.CardViewModel>

<h1>Список карточек</h1>

<div>
    <a asp-action="Create" asp-controller="Card">Добавить новую карточку</a>
</div>

<br />

<div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Уникальный номер</th>
                <th>Уровень доступа</th>
                <th>Нахождение в данный момент</th>
                <th>Статус</th>
                <th>Комментарий</th>
                <th>Доступные действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.UniqueNumber</td>
                <td>@item.Level</td>
                <td>@item.Location</td>
                <td>@item.Status</td>
                <td>@item.Comment</td>
                <td>
                    <a asp-action="Details" asp-controller="Card" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Edit" asp-controller="Card" asp-route-id="@item.Id">Изменить</a>
                    @*|
            <a asp-action="Delete" asp-controller="Card" asp-route-id="@item.Id">Удалить</a>*@
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
