@model CardIndexViewModel

@{
    ViewData["Title"] = "Список карточек - Security Doors";
}

<div class="text-center">
    <h1>Список карточек</h1>
</div>

<br />

@if (User.IsInRole("admin"))
{
    <div>
        <a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#addNewCard">Добавить новую карточку</a>
    </div>

    <div class="modal fade" id="addNewCard">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title">Создать новую карточку</h3>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>

                <div class="modal-body">
                    <partial name="_CreatePartialView.cshtml" model="new CardViewModel()" />
                </div>

            </div>
        </div>
    </div>

    <br />
}

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Уникальный номер</th>
                <th scope="col">Статус</th>
                <th scope="col">Доступные действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cards)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UniqueNumber</td>
                    <td>@item.Status</td>
                    <td>
                        <a asp-action="Details" asp-controller="Card" asp-route-id="@item.Id">Подробнее</a>

                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Edit" asp-controller="Card" asp-route-id="@item.Id">Изменить</a>
                            <a asp-action="Delete" asp-controller="Card" asp-route-id="@item.Id">Удалить</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-secondary btn-sm">
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-secondary btn-sm">
        Вперед
    </a>
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
