@model DoorActionIndexViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Page"];
}

<h1>@Localizer["Title"]</h1>

@if (Model.DoorActionViewModels.Any())
{
    <form class="form-inline">
        <div class="form-group mb-2">
            <label class="control-label">@Localizer["LabelDate"]</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="date" asp-for="Date" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success mb-2">@Localizer["ButtonApply"]</button>
    </form>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>@Localizer["TableId"]</th>
                <th>@Localizer["TableCard"]</th>
                <th>@Localizer["TableDoor"]</th>
                <th>@Localizer["TableDoorReader"]</th>
                <th>@Localizer["TableStatus"]</th>
                <th>@Localizer["TableTimeStamp"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doorActionViewModel in Model.DoorActionViewModels)
            {
                <tr>
                    <th scope="row">@doorActionViewModel.Id</th>
                    <td>
                        @doorActionViewModel.Card.UniqueNumber - @doorActionViewModel.Card.Level <img src="~/images/info-circle.svg" alt="Info" title="@doorActionViewModel.Card.Status">
                    </td>
                    <td>
                        @doorActionViewModel.DoorReader.Door.Name <img src="~/images/info-circle.svg" alt="Info" title="@doorActionViewModel.DoorReader.Door.Description">
                    </td>
                    <td>
                        @doorActionViewModel.DoorReader.Type
                    </td>
                    <td>
                        @doorActionViewModel.Status
                    </td>
                    <td>
                        @doorActionViewModel.TimeStamp
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <page-link page-model="@Model.PageViewModel" page-action="List"></page-link>
}
else
{
    <p>@Localizer["TextEmptyCollection"]</p>
}
