@model Secure.SecurityDoors.Web.ViewModels.DoorActionIndexViewModel

@{
    ViewData["Title"] = "DoorAction Page";
}

<h1>Door actions</h1>

@if (Model.DoorActionViewModels.Any())
{
    <form class="form-inline">
        <div class="form-group mb-2">
            <label class="control-label">Date:</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="date" asp-for="Date" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success mb-2">Apply</button>
    </form>

    <table class="table table-sm table-hover">
        <caption>List of door actions</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Card</th>
                <th>Door</th>
                <th>Door reader type</th>
                <th>Status</th>
                <th>TimeStamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DoorActionViewModels)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>
                        @item.Card.UniqueNumber - @item.Card.Level <img src="~/images/info-circle.svg" alt="Info" title="@item.Card.Status">
                    </td>
                    <td>
                        @item.DoorReader.Door.Name <img src="~/images/info-circle.svg" alt="Info" title="@item.DoorReader.Door.Description">
                    </td>
                    <td>
                        @item.DoorReader.Type
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.TimeStamp
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>
}
else
{
    <p>Empty list of door actions..</p>
}
