@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Page"];
}

<h1>@Localizer["Title"]</h1>

<form asp-controller="DoorAction" asp-action="GenerateReport">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>@Localizer["LabelUsers"]</label>
            <select class="form-control" name="userId" asp-items="ViewBag.Users">
                <option value="" selected>Please select</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">@Localizer["LabelStart"]</label>
            <input type="date" name="start" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">@Localizer["LabelEnd"]</label>
            <input type="date" name="end" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-success mb-2">@Localizer["ButtonGenerate"]</button>
</form>
