@model ProfileViewModel

@{
    ViewData["Title"] = "Profile Page";
}

<div class="card" style="width: 18rem;">
    <div class="card-header">
        User info
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">FirstName: @Model.FirstName</li>
        <li class="list-group-item">LastName: @Model.LastName</li>
        <li class="list-group-item">SecondName: @Model.SecondName</li>
        <li class="list-group-item">Passport: @Model.Passport</li>
        <li class="list-group-item">IdentificationNumber: @Model.IdentificationNumber</li>
    </ul>
</div>
