@model ProfileViewModel

@{
    ViewData["Title"] = "";
}

<p>FirstName: @Model.FirstName</p>
<p>LastName: @Model.LastName</p>
<p>SecondName: @Model.SecondName</p>
<p>Passport: @Model.Passport</p>
<p>IdentificationNumber: @Model.IdentificationNumber</p>
